/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--color-bg-primary);
  color: #111;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/* global vars */
:root {
  /* Colors */
  --color-bg-primary: #F4F2EF;
  --color-bg-subtle: #BEB7AD;
  --color-text-primary: #232527;
  --color-text-secondary: #FAFAFB;
  --color-accent-primary: #6E6C68;
  --color-accent-secondary: #C98F84;
  --color-accent-tertiary: #D9D9D9;

  /* Typography */
  --font-secondary: "neue-haas-grotesk-text", sans-serif;
  --font-primary: "area-normal", sans-serif; /*"Inter", system-ui, -apple-system, sans-serif;*/
}

/* text styles */
body {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-family: var(--font-primary);
  font-size: 64px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2 {
  font-family: var(--font-primary);
  font-size: 48px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 28px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

p {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

small {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 1.4;
}

.nav a,
.btn-solid, .btn-outline,
footer,
.footer a {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.4;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

h1, h2 {
  letter-spacing: -0.02em;
}

h3 {
  letter-spacing: -0.01em;
}

.btn-solid, footer, .btn-outline:hover {
  color: var(--color-bg-primary);
  background-color: var(--color-text-primary);
}

.card, article {
  background-color: var(--color-text-secondary);
}

/* layout styles */
section {
  padding: 70px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.footer-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.name-email-footer, .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.footer-nav {
  align-items: center;
}

footer .socials-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

footer .socials-grid img {
  width: 32px;
  color: var(--color-bg-primary);
}

.btn-outline, .btn-solid {
  display: inline-block;
  padding: 16px 20px 18px 20px;
  line-height: 1;
  border-radius: 8px;
}

.btn-outline, .btn-solid:hover {
  box-shadow: inset 0 0 0 1.5px var(--color-text-primary); /* inside border */
  background-color: transparent;
  color: var(--color-text-primary);
}

.btn-outline, .btn-solid, .nav a {
  transition:
    background-color 0.3s ease 0.1s,
    color 0.3s ease 0.1s,
    box-shadow 0.3s ease 0.1s,
    text-decoration  0.3s ease 0.1s;
}


/* cards styles */
.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
}

.homepage-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  justify-content: center;
  width: 700px;
}

.contact-grid {
  display: flex;
  gap: 40px;
  align-items: center;
}

.design-approach-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.even-columns {
  width: 53vw;
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.homepage-grid .card {
  width: 280px;
}

.card p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0px;
}

.homepage-grid .card .btn-solid {
  align-self: flex-end;
  margin-top: auto;
  border-radius: 100px;
  padding: 16px 17px 18px 17px;
}

.contact-grid .card {
  width: fit-content;
  height: 240px;
  justify-content: center;
}

.contact-grid a, .underline-link {
  text-decoration: underline;
  text-underline-offset: 5px;

}

.design-approach-grid .card{
  width: 65%;
}

.service-grid .card {
  width: 25vw;
}

/* homepg styles */
.hero, .contact-section {
  background-image: url(../assets/images/vector-curve.png);
  background-size: cover;        /* fills the section */
  background-position: center;   /* keeps it centered */
  background-repeat: no-repeat;
  width: 100%;
}

.hero-content h3 {
  font-size: 28px;
}

.portfolio-cta-content h2 {
  font-size: 36px;
}

.main-cta-content h3 {
  font-size: 28px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 100px;
  padding-top: 2vw;
}

.hero-title h1:first-child {
  transform: translate(45px);
}
.hero-title h1:last-child{
  transform: translate(-45px);
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.portfolio-cta, .main-cta, .services-cta {
  border: 1.5px solid var(--color-accent-primary);
  margin: 15px;
  border-radius: 40px;
  width: calc(100vw - 30px);
}

.portfolio-cta-content {
  display: flex;
  gap: 80px;
}

.deliverables-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.deliverables-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.deliverable-card h1 {
  color: var(--color-accent-primary);
padding: 20px;
}

.main-cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* contactpg styles */

.secondary-pgs-hero-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-section {
  background-position: center top; /* or center bottom */
  padding: 90px 0 180px 0;
}

/* aboutpg styles */
.about-desc-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-desc-content p {
  width: 40vw;
}

.services-cta-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services-cta-heading {
  margin-bottom: 25px;
}

.design-approach-grid {
  padding-bottom: 0px;
}

/* servicespg styles */
.secondary-pgs-hero-content h3 {
  font-size: 24px;
  width: 52vw;
}

.category-desc, .meta-desc p {
  font-size: 16px;
  text-transform: uppercase;
}

.service-category {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.category-header {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-header.right-align, .category-header p {
  text-align: right;
}

.category-header.right-align p {
  text-align: left;
}

.service-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.service-meta-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    gap: 50px;
  }

  #payment-and-process {
    align-items: flex-end;
    text-align: right;
  }

.included-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 80%;
}

.included-content ul {
  list-style-type: none;
  width: 52vw;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.included-list li {
  display: flex;
  width: 23vw;
  padding-left: 10px;
  gap: 30px;
  justify-content: center;
}